// TODO: Add styles for errors
body {
	color:blue;
}

label.error {
	color: red;
}

input.error {
	background-color: #ffcccc;
}

div.errors {
	background-color: #ffcccc;
	border: 2px solid red;
}
